body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.myinput {
    background: #abcafc;
}

.myinput:hover {
    background: #d7e3f7;
}

label {
    width: 150px;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }
